*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  background-color: #f6f8fa;
}

/* Styling header content */

#text-logo{
  font-size: 40px;
  font-weight: 800;
  letter-spacing: 1px;
  vertical-align: middle;
}

#header-main{
  background-color: white;
  height: 80px;
}

.container-header{
  padding: 1% 2%;
  vertical-align: middle;
}

.container-header img{
  vertical-align: middle;
}

.container-main{
  margin: 4% auto;
  width: 70%;
  background-color: white;
  border-radius: 10px;
}

/* Styling button of main content */
.container-btn{
  padding-top: 2%;
  padding-bottom: 1%;
  padding-left: 5%;
  border-bottom: 2px solid #f6f8fa;
}

#btn-add{
  background-color: rgb(69, 174, 241);
  padding: 7px 12px;
  border-radius: 10px;
  color: white;
  margin-right: 3px;
  border: none;
  border-radius: 6px;

}

#btn-select{
  background-color: white;
  padding: 7px 12px;
  border: 1px solid  rgb(175, 173, 173);
  color:  rgb(175, 173, 173);
  border-radius: 5px;
}

/* Styling main content */

.container-all-content{
  margin: 2% 0;
  padding-left: 5%;
}

#title-action{
  font-weight: 800;
  font-size: 24px;
}

.container-new-task{
  margin-top: 10px;
}

/* Checkmark */
.check-mark{
  font-size: 10px;
  color: green;
  border: 2px solid green;
  padding: 4px 6px;
  border-radius: 100px;
}

.task-info-style{
  margin-left: 5px;
  font-size: 18px;
  color: rgb(62, 62, 62);
}

/* Label Editorial */
.editorial-label{
  font-size: 12px;
  margin-left: 5px;
  color: white;
  background-color: rgb(69, 174, 241);
  padding: 5px 10px;
  border-radius: 10px;
}